@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Exo 2', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 60px;
  margin-top: 0;
}

main {
  display: flex;
}

#leaderboard-list {
  width: 350px;
  margin-right: 100px;
}

#leaderboard-list div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#refresh-btn {
  cursor: pointer;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  color: #212529;
  border: 1.5px solid #000;
  background-color: transparent;
  padding: 3px 15px;
}

#leaderboard-list ul {
  padding: 0;
  list-style-type: none;
  border: 1.5px solid #000;
}

.score {
  padding: 12px;
}

#add-score-section {
  width: 260px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 13px;
}

#submit-btn {
  width: 78px;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  color: #212529;
  background-color: transparent;
  padding: 3px 15px;
  align-self: flex-end;
  margin-top: 5px;
}
