@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&display=swap');

html {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Exo 2', sans-serif;
  border: 1px solid #e9ecef;
  padding: 80px;
  border-radius: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 60px;
  margin-top: 0;
}

main {
  display: flex;
}

#leaderboard-list {
  width: 350px;
  margin-right: 100px;
}

#leaderboard-list div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#refresh-btn {
  cursor: pointer;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  color: #212529;
  border: 1.5px solid #b1a7a6;
  border-radius: 5px;
  background-color: transparent;
  padding: 3px 15px;
}

#leaderboard-list ul {
  padding: 0;
  list-style-type: none;
  border: 1.5px solid #b1a7a6;
  border-radius: 5px;
}

.score {
  padding: 12px;
}

.score:nth-child(2n) {
  background-color: #f5f3f4;
}

#add-score-section {
  width: 270px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1.5px solid #b1a7a6;
  margin-bottom: 10px;
  font-size: 13px;
}

#submit-btn {
  width: 78px;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  color: #212529;
  border: 1.5px solid #b1a7a6;
  border-radius: 5px;
  background-color: transparent;
  padding: 3px 15px;
  align-self: flex-end;
  margin-top: 5px;
}

#confirmation-msg {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 10px 0;
}

#confirmation-msg.active {
  opacity: 1;
  background-color: #55a630;
}
